/**
 * 2017-12-29 StanleyChen
 */

.introduceWords {
  font-size: 15px;
  line-height: 28px;
  padding-top: 10px;
  text-align: left;
}

.mobileWidget {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.sideImg {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 100%;
  @media screen and (max-width: 768px) {
    padding: 0 16%;
    width: 100%;
  }
}
