.content {
  float: right;
  font-size: 15px;
  line-height: 29px;
  text-align: left;
  padding-top: 10px;
}
.suDropcap {
  float: left;
  text-transform: uppercase;
  margin: 9px 10px 0 -7px!important;
  font-weight: 700;
  line-height: 76px !important;

  font-size: 100px;
}