.col {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.sidebar {
  margin-top: 17px;
  padding: 0 10px 0 0px;
  margin: 12px 0 0 60px;
  text-align: center;
}

.widget {
  margin: 0px 0 20px 10px;
  padding: 25px 0px 25px 0px;
  border: none;
  background: none;
  float: left;
  width: 100%;
  background: #fff;
  border-bottom: 4px solid #f8f8f8;
}

.subcontent {
  display: flex;
  flex-direction: column;
  text-align: center;
}